<div class="btn-group">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button"><span class="iconify nav-icon" data-icon="iconoir:bell"></span></a>
    <ul class="dropdown-menu dropped">
      <div class="header pl-3 py-2">
        <p>Notifications</p>
      </div>
      
      <li><a class="dropdown-item" >
        <div class="notice d-flex align-items-center">
          <div class="photo"><img class="img-fluid" src="../../../../../assets/images/nav-img.png" alt=""></div>
          <div class="info">
            <p><span class="name">Mercy P.</span> liked your article</p>
            <p class="time">52 seconds ago</p>
          </div>
          <div class="untouched"></div>
        </div></a>
      </li>      
      <li><a class="dropdown-item" >
        <div class="notice d-flex align-items-center">
          <div class="photo"><img class="img-fluid" src="../../../../../assets/images/nav-img.png" alt=""></div>
          <div class="info">
            <p><span class="name">John Doe</span> posted an article</p>
            <p class="time">4 hours ago</p>
          </div>
          <div class="untouched"></div>
        </div></a>
      </li>
      <li><a class="dropdown-item" >
        <div class="notice d-flex align-items-center">
          <div class="photo"><img class="img-fluid" src="../../../../../assets/images/nav-img.png" alt=""></div>
          <div class="info">
            <p><span class="name">Elon M.</span> liked your comment</p>
            <p class="time">Yesterday</p>
          </div>
        </div></a>
      </li>
      <li><a class="dropdown-item" >
        <div class="notice d-flex align-items-center">
          <div class="photo"><img class="img-fluid" src="../../../../../assets/images/nav-img.png" alt=""></div>
          <div class="info">
            <p><span class="name">Ololade C.</span> commented on your article</p>
            <p class="time">Tuesday</p>
          </div>          
        </div></a>
      </li>
      <li><a class="dropdown-item" >
        <div class="notice d-flex align-items-center">
          <div class="photo"><img class="img-fluid" src="../../../../../assets/images/nav-img.png" alt=""></div>
          <div class="info">
            <p><span class="name">Kemas Ck</span> contributed to your article</p>
            <p class="time">2 days ago</p>
          </div>
        </div></a>
      </li>

      <div class="more" role="button">
        <p>See all recent activity</p>
      </div>
    </ul>
</div>
